html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

:root{
  --primaryColorRef: #bac4b8;
  --mixedColor1Ref: #e2e2e2;
  --mixedColor2Ref: #c6c6c6;
  --mixedColor3Ref: #aaa;
  --mixedColor4Ref: #8d8d8d;
  --mixedColor5Ref: #717171;
  --mixedColor6Ref: #555;
  --mixedColor7Ref: #383838;
  --mixedColor8Ref: #1c1c1c;
  --secondaryColorRef:#141414 ;
  --tertiaryColorRef: #E4001C;
  --secondaryColorGradientMin: rgba(0, 0, 0, 0);
  --secondaryColorGradientMax: rgba(0, 0, 0, 100);
  --primaryColorGradientMin: rgba(255, 255, 255, 0);
  --primaryColorGradientMax: rgba(255, 255, 255, 100);
  --overlayBackgroundColor: var(--mixedColor8Ref);
  --overlayGradientMin: rgba(0, 0, 0, 0);
  --overlayGradientMax: rgba(0, 0, 0, 100);
  --foregroundColor: var(--primaryColorRef);
  --foregroundColorMix1: var(--mixedColor1Ref);
  --foregroundColorMix2: var(--mixedColor2Ref);
  --foregroundColorMix3: var(--mixedColor3Ref);
  --foregroundColorMix4: var(--mixedColor4Ref);
  --foregroundColorMix5: var(--mixedColor5Ref);
  --foregroundColorMix6: var(--mixedColor6Ref);
  --foregroundColorMix7: var(--mixedColor7Ref);
  --foregroundColorMix8: var(--mixedColor8Ref);
  --backgroundColor: var(--secondaryColorRef);
  --backgroundGradientColorMin: var(--secondaryColorGradientMin);
  --backgroundGradientColorMax: var(--secondaryColorGradientMax);
  --borderColor: var(--mixedColor7Ref);
  --highlightColor: var(--tertiaryColorRef);
  --errorColor: #E4001C;

  /* fonts */
  --display-font: 'DM Serif Display',
  serif;;
  --text-font: 'Source Serif Pro',
  serif;
}
html {
  color: var(--foregroundColor);
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--foregroundColor);
  text-decoration: none;
  font-family: var(--textFont);
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5{
  font-family: var(--display-font);
  font-style: italic;
}
.transition-background{
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--backgroundColor);
}
.App {

}
.img-box {
  width:200px;
  height:100px;
}
.img-box img{
  max-width:100%;
  object-fit:cover;
}
.campaign-container{
  height:100vh;
  width:100vw;
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;


  position: sticky;
  top: 0px;
  background-color: rgb(36, 167, 241);
  min-height: 100vh;
}
.container {
  top:0;
  left:0;
  width: 100%;
  min-height:100%;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;

  height: 644px;
  display: block;
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  background: rgb(42, 57, 88);
}
.container::after{
  content:'';
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index:10;
  background-color: rgba(0, 0, 0, 0.6);
}

.container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit:cover;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 644px;
}
.content{
  /* position:absolute; */
  z-index:30;
}
.title{
  bottom:10%;
  left:0;
}

